.tourbanner{
    @include center-content($site-full-width, 0 auto);
    height: 400px;
    margin-bottom: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;





}