.foot_wrap{
    width: 100%;
    height: 100px;
    //background-color: grey;


    .footer{
        @include center-content();
        height: 100%;
        justify-content: space-between;
        margin: 0 auto;
        flex-direction: row;
        display: flex;
        align-items: center;


        background-color: $site-blue;

        .logo{
            align-items: flex-start;
            margin-left: 10%;
            height: 42px;
            width: 92px;
            border: 2px solid $site-white;
        }

        .copyright{

            color: blue;
        }

        .SocMed{
            position: relative;
            margin-right: 10%;


        }





    }
}
@media (max-width: 830px){
    .copyright{
        display: none;
    }
}